/* Grid
===================================================================*/

$grid-columns: 12;

@function col($columns, $grid-columns: $grid-columns) {
  @return ($columns/$grid-columns)*100%
}

.container {
	width: 100%;
	margin: 0 auto;
}

.col {
	padding: 0 em(8);
	float: left;
	width: 100%;
}

.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.row .row {
	margin: 0 em(-8);
	padding-bottom: 0;
}
