/* Styles
===================================================================*/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: em(18);
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  background-color: $color-beige;
  color: $color-obsidian;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  color: $color-navy;
  @include transition(color 0.3s ease);
  &:hover {
    color: $color-pink;
  }
}

ul, ol {
  list-style: none;
}

.page-content {
  margin-top: em(50);
  padding: em(16);
  background-color: $color-white;
  @include box-shadow(em(3) em(3) em(5) 0 rgba(50, 50, 50, 0.5));
}

footer {
  margin: em(16);
  text-align: center;
  color: $color-grey;
}

form {
  margin-bottom: em(16);
  input, textarea {
    font-family: $font-family-base;
    font-size: em(16);
    border: 2px solid $color-grey;
    width: 100%;
    padding: em(8);
    margin: em(8) 0;
    &:focus {
      outline: none;
    }
  }
  textarea {
    font-family: $font-family-base;
    border: 1px solid $color-grey;
    resize: none;
    height: em(128);
    vertical-align: top;
  }
  input[type=submit] {
    background-color: $color-grey-light;
    border: 2px solid $color-grey;
    transition: all 0.3s ease;
    &:hover {
      color: $color-pink;
      cursor: pointer;
    }
  }
}

h1 {
  text-align: center;
  margin-bottom: em(16);
}

.logout {
  float: right;
  text-align: right;
}

.logout, .welcome {
  display: inline;
}

.info {
  margin-bottom: em(16);
}

.shoutbox-area {
  border: 1px solid $color-grey;
  padding: em(16);
  height: em(300);
  overflow-y: scroll;
  word-wrap: break-word;
}

.validation-errors {
  margin: em(16) 0;
  text-align: center;
}

.shout {
  padding: em(8) 0;
  border-bottom: 1px dashed $color-grey;
}
