/* Grid
===================================================================*/
/* line 10, ../scss/_grid.scss */
.container {
  width: 100%;
  margin: 0 auto;
}

/* line 15, ../scss/_grid.scss */
.col {
  padding: 0 0.5em;
  float: left;
  width: 100%;
}

/* line 22, ../scss/_grid.scss */
.row:before,
.row:after {
  content: "";
  display: table;
}

/* line 27, ../scss/_grid.scss */
.row:after {
  clear: both;
}

/* line 31, ../scss/_grid.scss */
.row .row {
  margin: 0 -0.5em;
  padding-bottom: 0;
}

/* Styles
===================================================================*/
/* line 4, ../scss/_styles.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../scss/_styles.scss */
body {
  font-size: 1em;
  font-family: "Inconsolata";
  font-weight: 300;
  line-height: 1.6;
  background-color: white;
  color: #222222;
}

/* line 21, ../scss/_styles.scss */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* line 26, ../scss/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 30, ../scss/_styles.scss */
a {
  color: #19198c;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 33, ../scss/_styles.scss */
a:hover {
  color: #d21778;
}

/* line 38, ../scss/_styles.scss */
ul, ol {
  list-style: none;
}

/* line 42, ../scss/_styles.scss */
.page-content {
  background-color: white;
  padding: 0.5em;
}

/* line 47, ../scss/_styles.scss */
footer {
  margin: 1em;
  text-align: center;
  color: #cccccc;
}

/* line 53, ../scss/_styles.scss */
form {
  margin-bottom: 1em;
}
/* line 55, ../scss/_styles.scss */
form input, form textarea {
  font-family: "Inconsolata";
  font-size: 1em;
  border: 2px solid #cccccc;
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
}
/* line 62, ../scss/_styles.scss */
form input:focus, form textarea:focus {
  outline: none;
}
/* line 66, ../scss/_styles.scss */
form textarea {
  font-family: "Inconsolata";
  resize: none;
  height: 4em;
  vertical-align: top;
}
/* line 72, ../scss/_styles.scss */
form input[type=submit] {
  background-color: #e6e6e6;
  border: 2px solid #cccccc;
  transition: all 0.3s ease;
}
/* line 76, ../scss/_styles.scss */
form input[type=submit]:hover {
  color: #d21778;
  cursor: pointer;
}

/* line 83, ../scss/_styles.scss */
h1 {
  margin-bottom: 0.5em;
  text-align: center;
}

/* line 88, ../scss/_styles.scss */
h2 {
  margin: 0.5em 0;
}

/* line 92, ../scss/_styles.scss */
.logout {
  float: right;
  text-align: right;
}

/* line 97, ../scss/_styles.scss */
.logout, .welcome {
  display: inline;
}

/* line 101, ../scss/_styles.scss */
.info {
  margin-bottom: 1em;
}

/* line 105, ../scss/_styles.scss */
.shoutbox-area {
  border: 1px solid #cccccc;
  padding: 1em;
  height: 9.375em;
  overflow-y: scroll;
  word-wrap: break-word;
}

/* Media queries
===================================================================*/
@media only screen and (min-width: 43.75em) {
  /* line 10, ../scss/_screen.scss */
  .container {
    width: 58.33333%;
  }

  /* line 12, ../scss/_screen.scss */
  body {
    font-size: 1.125em;
    background-color: #e5d8c5;
  }

  /* line 17, ../scss/_screen.scss */
  .page-content {
    margin-top: 3.125em;
    padding: 1em;
    -webkit-box-shadow: 0.1875em 0.1875em 0.3125em 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0.1875em 0.1875em 0.3125em 0 rgba(50, 50, 50, 0.5);
    box-shadow: 0.1875em 0.1875em 0.3125em 0 rgba(50, 50, 50, 0.5);
  }

  /* line 23, ../scss/_screen.scss */
  .shoutbox-area {
    height: 18.75em;
  }

  /* line 27, ../scss/_screen.scss */
  .shout {
    padding: 0.5em 0;
    border-bottom: 1px dashed #cccccc;
  }

  /* line 32, ../scss/_screen.scss */
  textarea {
    height: 8em;
  }
}
@media only screen and (min-width: 56.25em) {
  /* line 40, ../scss/_screen.scss */
  .container {
    width: 50%;
  }
}
@media only screen and (min-width: 75em) {
  /* line 46, ../scss/_screen.scss */
  .container {
    width: 41.66667%;
  }
}
